*,
*::after,
*::before{
	box-sizing: border-box;
}

body{
	// font-family: 'Comfortaa', cursive;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #262C27;
	cursor: default;
}

a{
	text-decoration: none;
	color:inherit;
}

h1, h2, h3, h4, h5, h6, p{
	margin: 0;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.title{
	font-family: 'Comfortaa', cursive;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 60px;
	line-height: 67px;
}

img{
	object-fit: cover;
}

.container{
	max-width: 1230px; //по 15 на падинг еще
	padding: 0 15px; //чтобы по бокам не прилипал
	margin: 0 auto;
}

.header{
	background-image: url(../img/header-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
	background-position: center;
	position: relative;
	margin-bottom: 80px;
}

header::before{
	content: "";
	position: absolute;
	background-image: url(../img/header-decor.svg);
	bottom: 0;
	left: 0;
	right: 0;
	height: 456px;
	background-size: cover;
	background-position: center;
	transform: translateY(35%);
	z-index: 2;
}

header::after{
	content: "";
	position: absolute;
	background-image: url(../img/header-decor.svg);
	bottom: 0;
	left: 0;
	right: 0;
	height: 456px;
	background-size: cover;
	background-position: center;
	transform: translateY(75%) rotate(180deg);
	z-index: 3;
}

.header__top{
	display: flex;
	align-items: center;
	padding: 57px 0;
	gap: 100px;
	justify-content: flex-end;

	font-family: 'Comfortaa', cursive;
	font-weight: 700;
	font-size: 20px;
	line-height: 22px;
}

.logo path{
	transition: fill .3s ease;
}

.logo:hover path{
	fill: #0093A1;
}

.header__btn{
	text-transform: uppercase;
	color: #fff;
	background-color: #262C27;
	padding: 12px 77px 9px 71px;
	cursor: pointer;
	transition: all .3s;
}

.header__btn:hover{
	background-color: #B9C400;
	border: 2px solid #B9C400;
	color: #262C27;
}

.header__content{
	min-height: calc(100vh - 162px);
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: relative;
}

.header__content-box{
	max-width: 548px;
	text-align: center;
	color: #fff;
	margin-right: 30px;
	font-family: 'Comfortaa', cursive;
	font-weight: 700;

	.header__title{
		text-transform: uppercase;
		font-size: 64px;
		line-height: 71px;
		margin-bottom: 20px;
	}

	.header-text{
		font-size: 24px;
		line-height: 27px;
		margin-bottom: 20px;
	}
}


.header__decor-text{
	position: absolute;
	bottom: 25px;
	color: #0093A1;
}

.header__decor-text--one{
	z-index: 1;
	right: 145px;
	bottom: 120px;
}

.header__decor-text--one,
.header__decor-text--two{
	font-family: 'Comfortaa' cursive;
	font-weight: 400;
	font-size: 130px;
	line-height: 145px;
	opacity: .3;
}

.header__decor-text--two{
	z-index: 4;
	left: 265px;
	bottom: 0;
}

.header__decor-text--three{
	max-width: 359px;
	right: 145px;
	z-index: 4;
	font-style: italic;
	font-weight: 300;
	font-size: 32px;
	line-height: 39px;
	text-align: center;
}

.info{
	background-image: url(../img/info-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	margin-top: 90px;
}

.info::before{
	content: "";
	position: absolute;
	height: 180px;
	background-color: #262C27;
	top: 0;
	left: 0;
	right: 0;
	transform: translateY(-180px);
	z-index: 1;
}

.info__top{
	display: flex;
	gap: 80px;
	padding-top: 100px;
	margin-bottom: 69vh;
}

.info__top-text{
	padding-top: 245px;
	width: 290px;
	color: #fff;
	position: relative;
}

.info__top-text--one{
	padding-bottom: 125px;
}

.info__top-text--two{
	border-bottom: 1px solid #fff;
}

.info__top-img{
	position: relative;
	z-index: 6;
}

.popup-btn{
	text-align: center;
	border: none;
	cursor: pointer;
	background-color: transparent;
	position: absolute;

	span{
		padding-top: 12px;
		display: block;
		color: #fff;
		transition: color .3s;
	}

	span:hover{
		color: #0093A1;
	}
}

.popup-btn path,
.popup-btn circle{
	transition: all .3s;
}

.popup-btn:hover path{
	fill: #B9C400;
}

.popup-btn:hover circle{
	stroke: #B9C400;
}

.info__btn{
	bottom: 0;
	right: 0;
}

.info__specs{
	display: flex;
	align-items: center;
	gap: 130px;
	color:#fff;
	padding-bottom: 50px;
}

.info__specs-title{
	width: 250px;
}

.info__specs-list{
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 30px 0;
	width: 565px;
	font-weight: 700;
}

.info__specs-item{
	margin-bottom: 15px;
	display: flex;
	gap: 25px;
}

.info__specs-caption{
	width: 185px;
}

.buy{
	padding: 150px 0 0;
}

.buy__inner{
	display: flex;
	align-items: center;
	gap: 97px;
}

.buy__content{
	width: 502px;
	position: relative;
}

.buy__title{
	margin-bottom: 50px;
	color: #0093A1;
}

.buy__list{
	margin-bottom: 25px;
}

.buy__item{
	margin-bottom: 25px;
	width: 284px;
}

.buy__item:hover .buy__item-title{
	color: #0093A1;
}

.buy__item-title{
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	margin-bottom: 5px;
	transition: color .3;

}

.buy__price{
	position: absolute;
	right: 0;
	bottom: 130px;
}


.buy__btn{
	cursor: pointer;
	text-transform: uppercase;
	font-family: 'Comfortaa' cursive;
	font-weight: 700;
	font-size: 40px;
	line-height: 45px;
	color: #0093A1;
	padding: 18px;
	text-align: center;
	max-width: 484px;
	width: 100%;
	background-color: transparent;
	border: 2px solid #0093A1;
	transition: .3s ease;
}

.buy__btn:hover{
	background-color: #B9C400;
	color: #262C27;
	border-color: #B9C400;

}

.technology{
	padding-bottom: 150px;
}

.technology__top{
	background-image: url(../img/tech-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.technology__top-inner{
	position: relative;
	min-height: 110vh;

}

.technology__btn{
	right: 350px;
	top: 50vh;
}

.technology__top-box{
	position: absolute;
	left: 0;
	bottom: 70px;
}

.technology__title{
	max-width: 470px;
	color: #262C27;
	margin-bottom: 62px;
}

.technology__list{
	margin: 0;
	padding-left: 20px;
}

.technology__list-item{
	font-family: 'Inter';
	padding-left: 24px;
	font-family: 'Inter';
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 15px;
}

.gallery__box{
	display: flex;
	gap: 68px;
	margin-top: 115px;
	padding-bottom: 150px;
}

.gallery__text{
	width: 350px;
}

.gallery-min{
	display: grid;
	gap: 30px 24px;
	grid-template-columns: 481px 208px;
	grid-template-rows: 432px 300px;
	margin-top: -35%;
	position: relative;
	padding: 72px 31px 52px;
}

.gallery-min::before{
	content: "";
	position: absolute;
	border: 3px solid #262C27;
	border-radius: 200px 0px 300px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

}

.gallery-min__img--1{
	grid-column: 1/3;
	border-radius: 400px 0px 0px 0px;
}

.gallery-min__img--2{
	border-radius: 0px 0px 0px 300px;
}

.gallery-max{
	display: grid;
	gap: 20px;
	grid-template-columns: 300px 469px 391px;
	grid-template-rows: 340px 270px 270px;

}

.gallery-max__img--2{
	grid-column: 2/-1;
	align-self: end;
	justify-self: end;
	border-radius: 0px 500px 0px 0px;

}

.gallery-max__img--3{
	border-radius: 0px 0px 150px 0px;
}

.gallery-max__img--4{
	border-radius: 0px 200px 0px 0px;
}

.gallery-max__img--5{
	border-radius: 200px 0px 0px 0px;
}

.gallery-max__img--6{
	grid-column: 2/-1;
}

.gallery-max__text{
	background-color: #0093A1;
	border: 1px solid #0093A1;
	border-radius: 0px 0px 0px 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 300px;
	height: 270px;
	font-style: italic;
	font-weight: 800;
	font-size: 32px;
	line-height: 39px;
	color: #fff;
	border-radius: 0px 0px 0px 400px;
}

.footer{
	background-color: #262C27;
	padding: 101px 0 83px;
	color: #fff;
}

.footer__top{
	display: flex;
	justify-content: space-between;
}

.footer__title{
	margin-bottom: 27px;
}

.footer__form{
	max-width: 500px;
}

.footer_form-input{
	background-color: transparent;
	border: none;
	opacity: 0.4;
	border-bottom: 1px solid #FFFFFF;
	display: block;
	width: 100%;
	padding: 10px 0;
	margin-bottom: 57px;
	color: #fff;
}

.footer_form-input::placeholder{
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
}

.footer_form-btn{
	background-color: #fff;
	font-weight: 700;
	font-size: 20px;
	line-height: 22px;
	color: #000000;
	padding: 10px 66px;
	border: 1px solid #fff;
	text-transform: uppercase;
	margin-bottom: 98px;
	cursor: pointer;
	font-family: 'Comfortaa' cursive;
}

.footer__social-title{
	margin-bottom: 28px;
	font-weight: 700;
}

.footer__gallery{
	display: grid;
	gap: 52px;
	grid-template-columns: repeat(4, 1fr);
	margin-bottom: 51px;
}

.footer__menu-list{
	font-weight: 700;
	display: flex;
	justify-content: space-between;
}

.footer__logo{
	align-self: flex-start;
}

.footer__logo path{
	transition: fill .3s;

}

.footer__logo:hover path{
	fill: #0093A1;
}

@media (max-width: 1230px){
	.header__decor-text--two{
		left: 0;
	}

	.buy__inner{
		flex-wrap: wrap;
		justify-content: center;
	}

	.buy__img{
		order: -1;
		max-width: 100%;
	}

	.buy__content{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center
	}

	.buy__item{
		width: 100%;
		max-width: 600px;
	}

	.buy__price{
		padding-right: 25px;
	}

	.buy__list{
		padding-left: 40px;
	}
}

@media (max-width: 1275px){
	.gallery__box{
		flex-wrap: wrap;
	}

	.gallery-min{
		margin-top: 0;
		width: 90%;
		grid-template-columns: 2fr 1fr;
		grid-template-rows: auto auto;
	}

	.gallery__text{
		width: 100%;
	}

	.gallery-min__img{
		width: 100%;
		align-self: stretch;
	}

}


@media (max-width: 1000px){
	.info__top{
		display: block;
	}

	.info__top-text{
		width: 100%;
	}

	.info__top-text--two{
		padding-bottom: 25px;
		padding-top: 45px;
	}

	.info__top-img{
		display: block;
		margin: 0 auto;
		width: 227px;
	}

	.info__specs{
		display: block;
	}

}

@media (max-width: 924px){
	.buy__price{
		bottom: auto;
		top: -353px;
	}
}

@media (max-width: 834px){
	.header__decor-text{
		display: none;
	}
}

@media (max-width: 706px){
	.header__top{
		flex-wrap: wrap;
		justify-content: center;
		gap: 30px 90px;
	}
	.header__btn{
		width: 70%;
	}

	.header__content-box{
		margin-right: 0;
	}

	.buy__price{
		top: -200px;
		img{
			max-width: 85%;
			max-height: 85%;
		}
	}
}


@media (max-width: 630px){
	.info__specs-list{
		width: 100%;
	}

	.info__specs-item{
		display: block;
	}

	.title{
		font-size: 48px;
		line-height: 56px;
	}
	.gallery-min{
		padding: 20px 10px 20px;
		gap: 10px;
	}

	.gallery-min::before{
		display: none;
	}

}

@media (max-width: 500px){

	.buy__price{
		top: -165px;
		img{
			max-width: 65%;
			max-height: 65%;
		}
	}
}

@media (max-width: 414px){

	.header__content{
		z-index: 5;
	}

	.technology__title{
		font-size: 32px;
		line-height: 36px;
	}
}

@media (max-width: 375px){
	.header__title{
		font-size: 55px;
		line-height: 60px;
	}

	.buy__price{
		padding-right: 0;
		img{
			max-width: 50%;
			max-height: 50%;
		}
	}

}